### Python Pandas - Dataframes 3
In this tutorial we will take a closer look at pandas dataframe which is the true workhorse of pandas. We will look at more advanced df features such as:

- Multi index
- Index hierarchy

We start by making a dataframe with multiple indices to work with:

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
# Index levels
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])
df

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119

## Multi Indices and working with index hierarchy
Pandas has support for multiple indices, that way we can group data in the dataframes and handle multiple indices

In [7]:
## Lets grab by outside index first
df.loc['G1']

          A         B
1  0.188695 -0.758872
2 -0.933237  0.955057
3  0.190794  1.978757

In [8]:
## Note that the indices are index types - we can name them
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1    0.188695 -0.758872
       2   -0.933237  0.955057
       3    0.190794  1.978757
G2     1    2.605967  0.683509
       2    0.302665  1.693723
       3   -1.706086 -1.159119

In [10]:
# Lets grab the second A value in the second group
df.loc['G2'].loc[2]['A']

0.3026654485851825

In [11]:
# What if we want to select from multiple groups? We use cross-section
df.xs(2, level='Num')

               A         B
Groups
G1     -0.933237  0.955057
G2      0.302665  1.693723