### Python Pandas - Missing Data
In this tutorial we will take a closer look at what happens when we have missing data - NaN and Nulls:

- Dropping missing values 
- Filling missing values

In [2]:
import numpy as np
import pandas as pd

In [5]:
d = {'A':[1,2,np.nan], 'B':[5,np.nan, np.nan], 'C':[1,2,3]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### Dropping invalid values

In [6]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [7]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [10]:
# We can also set a threshold!
df.dropna(thresh=2) # Threshold is how many valid values must be in axis for it not to be dropped

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

### Filling missing values

Filling missing values is a science and art of its own. Ofthen one may want to handle missing data as mean value

In [11]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3