### Python Pandas - Grouping data
In this tutorial we will take a closer look at grouping values together

We start by creating a suitable dataframe - One column has nonunique values that we can group

In [2]:
#Imports
import numpy as np
import pandas as pd

In [3]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [5]:
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

### Grouping

Now we can group the data by some column.  Note that pandas will use the numerical columns and ignore the name column which naturally cant be grouped.

After grouping, we get a grouped object which we can call methods on.  Note that this is not a dataframe:

In [17]:
byCompany = df.groupby('Company')
byCompany

In [8]:
byCompany.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [9]:
byCompany.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [16]:
byCompany.describe().loc['FB']

Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64